* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: flex;
}

#img {
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

#search_term {
    height: 25vh;
    width: 25vw;
    color: black;
    text-align: center;
    font-size: 1.2rem;
}

#button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.2rem;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#button:hover {
    background-color: #409144;
    transform: scale(1.2);
}

.left-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 50vw;
    background-color: rgb(53, 0, 50);
    border-radius: 15px;
}

.left-content {
    background-color: rgba(255, 255, 255, 0.066);
    height: 50%;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
}


.right-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 50vw;
    background-color:   rgb(41, 0, 39);
    z-index: 1;
}

.right-box > p {
    position: absolute;
    z-index: -1;
    font-size: 1.5rem;
}

#other_bot {
    position: absolute;
    height: 5%;
    width: 10%;
    color: black;
    margin-top: 1%;
    margin-left: 35vw;
    z-index: 10;

}



